.listqrcode{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.registration-wrapper{
    display: flex;
    flex-direction: column;
}
.align-middle{
    color: white;
}
.submit{
    align-self: center;
    background: linear-gradient(#9c4eb1, #1d5dde);
    color: white;
    border-radius: 15px;
}
.submit:hover{
    opacity: 0.8;
    transition-duration: 3s ease-in;
}
.left{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* height: 60vh; */
}
.right{
    flex-direction: column;
    display: flex;
    /* height: 60vh; */
    /* justify-content: space-evenly; */
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;    
    width: 80%;
}
.error-block{
    margin: auto;    
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 180px;
}
.error-image{    
    width: 300px;
    align-self: center;
}
.error-message{
    color: red;
    font-weight: 600;
    font-size: 30px;
}
.success-block{
    margin: auto;    
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 180px;
}
.success-image{
    width: 300px;
    align-self: center;
}
.success-message{
    color: green;
    font-weight: 600;
    font-size: 30px;
}
.verify-block{
    margin: auto;    
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 180px;
}
input{

    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 5px var(--black);
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-clip: padding-box;
    -webkit-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input{

    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 5px var(--black);
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-clip: padding-box;
    -webkit-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.background {
    background-image: url("../assets/images/landing_page.jpeg");
    /* , linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;; */
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    color: white;
}
